<div *ngIf="ticket"
     class="container">
    <div class="grid-box">
        <div class="image">
            <img src="assets/images/qr.png"
                 alt="">
        </div>
        <div class="content">
            <h3>Person: {{ticket.user.firstName | titlecase}}</h3>
            <h3>Movie - {{ticket.showing.movie?.title | titlecase}}</h3>
            <p>Seat- Row: {{ticket.seat.row}} Number: {{ticket.seat.number}}</p>
            <p>Room - {{ticket.showing.room?.number}}</p>
            <p>StartDate: {{ticket.showing.startDate}}</p>
        </div>
    </div>


</div>