<div class="container">
    <h2>Add Showing</h2>
    <form (ngSubmit)="addShowing()"
          #showingForm="ngForm">
        <div class="form-group">
            <label for="date">Select Date:</label>
            <input type="datetime-local"
                   class="form-control"
                   id="date"
                   name="selectedTime"
                   [(ngModel)]="selectedTime"
                   required>
        </div>

        <div class="form-group">
            <label for="movie">Select Movie:</label>
            <select class="form-control"
                    id="movie"
                    name="selectedMovie"
                    [(ngModel)]="selectedMovie"
                    (change)="onMovieSelected()"
                    required>
                <option value="">Select a movie</option>
                <option *ngFor="let movie of movies"
                        [ngValue]="movie">{{ movie.title}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="room">Select Room:</label>
            <select class="form-control"
                    id="room"
                    name="selectedRoom"
                    [(ngModel)]="selectedRoom"
                    required>
                <option value="">Select a room</option>
                <option *ngFor="let room of availableRooms"
                        [ngValue]="room">{{ room.number }}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="price">Price:</label>
            <input type="number"
                   class="form-control"
                   id="price"
                   name="price"
                   [(ngModel)]="model.price"
                   required>
        </div>

        <button class="btn btn-primary mt-3"
                [disabled]="!showingForm.valid"
                type="submit">Add Showing</button>
    </form>
</div>